##plantuml

##elemnt
snippet uml
	@startuml
		${0}
	@enduml
snippet uc
	usecase 
snippet ac
	actor 
snippet it
	interface 
snippet class
	class ${1:name}{
		- ${2:private}
		# ${3:protectd}
		+ ${4:public}
	}
snippet pkg
	package ${1:name} {
		${2:object}
	}
##relationship
snippet jc
	<|-- 
snippet sx
	<|.. 
snippet zh
	*--> 
snippet jh
	o--> 
snippet gl
	--> 
snippet yl
	..> 
#common
snippet lr
	left to right direction
snippet tb
	top to bottom direction
	
